.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  padding: 1rem;
  position: relative;
  min-width: 320px;
  max-width: 480px;
  min-height: 200px;
  min-height: 600px;
  overflow-y: auto;
  background-color: #f8f8ff;
  border-radius: 15px 15px 15px 15px;
}

.modal-container>img {
  border-radius: 50%;
  margin-left: 50px;
}

.modal-container>h3 {
  text-align: center;
}

.modal-container>h4 {
  text-align: justify;
}

.modal-container>p {
  text-align: justify;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 2px;
}