.contenedor-infromacion {
  display: flex;
  background-color: #F8F8FF;
  color: black;
  height: 70vh;
  margin: 10px 10px 10px 10px;
  border-radius: 100px;
}

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 0 100px 0 100px;
}

.contenedor-titulo>h2 {
  text-align: center;
  color: #87CEEB;
  margin-bottom: 30px;
  font-size: 28px;
}

.contenedor-titulo>p {
  text-align: center;
  color: black;
  font-size: 20px;

}

.contenedor-envio-formulario {
  display: flex;
  align-self: center;
}