
.contenedor-tarjeta {
  width: 380px;
  height: 470px;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  margin: 15px auto;
  border: solid 1px #a9a9a9;
}

.contenedor-tarjeta:hover {
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
}

.codenedor-imagen>img {
  width: 400px;
  overflow: hidden;
  height: 300px;
}

.contenedor-informacion {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.contenedor-nombre>h3 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.contenedor-cargo>p{
  text-align: center;
}



/* button{
  margin: 1rem;
  margin-top: 0;
  color: #2f2d2e;
  font: bold;
  background-color: white;
  border: 2px solid #00a9ba;
  padding: 0.6rem;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
}

button:hover{
  background-image:linear-gradient(to left, #00a9ba, #00D2FF);
  transform: scale(1.2);
  border: none;
  color: white;
} */