@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}



.menu {
  background-color: white;
  color: #0a1a2a;
  height: 70px;
  width: 100%;
  position: fixed;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.menu__logo>img {
  height: 150px;
  width: 150px;



}

.menu__links {
  height: 100%;
  transition: trasnform .5s;
  display: flex;
  list-style: none;
  /* transform: translate(100%); */
}

.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link {
  color: #0a1a2a;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;

}

.menu__link:hover {
  background-color: #5e7094;
}

.menu__arrow {
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;
}

.menu__nesting {
  list-style: none;
  transition: clip-path .3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: white;

}

.menu__link--inside {
  padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
  background-color: #798499;
}

.menu__hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menu__img {
  display: block;
  width: 36px;
}

/* de aqui en adetalte falta agrega al media*/

.contenedor-login {
  color: #000;
}

.contenedor-cart {
  position: relative;
  cursor: pointer;
}

.contenedor-cart box-icon {
  color: #000;
  width: 10px;
  height: 10px;
  font-weight: bold;
}

.item-total {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: crimson;
}

@media (max-width:800px) {
  .menu__hamburguer {
    display: flex;
  }

  .menu__item {
    --clip: 0;
    overflow: hidden;
  }

  .menu__itme--active {
    --transform: rotate(0);
    --backgorund: #5e7094;
  }

  .menu__item--show {
    background-color: var(--backgorund);
  }

  .menu__links {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #000;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }

  .menu__links--show {
    transform: unset;
    width: 100%;
  }

  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }

  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }

  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height .3s;
  }

  .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
}